---
import { Container } from './container';
---

<Container fullWidth>
  <section class="hero">
    <div class="circle"></div>
    <div class="logo-wrapper">
      <img alt="Night Logo" src="/logo.svg" />
    </div>
    <h1>Night</h1>
    <p>Dark web design inspiration.</p>
  </section>
</Container>

<style>
  .hero {
    position: relative;
    padding: 160px 0 40px;
    overflow: hidden;
    text-align: center;

    & .circle {
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: -2;
      box-sizing: content-box;
      width: 100%;
      min-width: 500px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      box-shadow:
        0 -36px 48px rgb(79 70 229 / 80%),
        0 -4px 20px #a5b4fc,
        0 0 20px #5eead4,
        0 0 10px #e0e7ff;
      transform: translate(-50%, 50%);
    }

    & .logo-wrapper {
      display: flex;
      justify-content: center;
      width: 48px;
      padding: 8px 0 12px;
      margin: 0 auto 8px;
      background: linear-gradient(transparent, var(--color-neutral-100));
      border-bottom: 2px solid var(--color-neutral-200);
      border-radius: 0 0 160px 160px;
      opacity: 0.9;

      & img {
        display: block;
        width: 20px;
      }
    }

    & h1 {
      font-family: var(--font-display);
      font-size: var(--font-2xlg);
      font-weight: 600;
      background: linear-gradient(
        var(--color-foreground),
        var(--color-neutral-300)
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    & p {
      margin-top: 4px;
      font-size: var(--font-sm);
      color: var(--color-foreground-subtle);
    }
  }
</style>
